doctype html
html(lang='en-gb')
    head
        if title
            title #{title} | #{app.settings.title}
        else
            title #{app.settings.title}
        link(rel='stylesheet' href='/stylesheets/style.css')
        meta(charset='UTF-8')
        meta(name='viewport' content='width=devices-width')
        meta(name='mobile-web-app-capable' content='yes')
        meta(name='manifest' href='/manifest.json')
        meta(name='icon' href='/img/logo-48x48.png' type='image/png' sizes='48x48')
        meta(name='icon' href='/img/logo-192x192.png' type='image/png' sizes='192x192')
        meta(name='author' content='Ryan Bester')
        meta(name='keywords' content='maths mathematics murphy')
        meta(name='Description' content='Murphys Maths')
        meta(name='og:title' content='Murphys Maths')
        meta(name='og:type' content='website')
        meta(name='og:image' content='/img/logo-512x512.png')
        meta(name='og:url' content='https://murphysmaths.ryanbester.com')
        meta(name='theme-color' content='#FFFFFF')
        meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
        meta(name='application-name' content='Murphys Maths')
        meta(name='msapplication-tooltip' content='Murphys Maths')
        meta(name='msapplication-window' content='width=1024;height=768')
        meta(name='msapplication-starturl' content='/')
    body
        .header
            h1= "Murphys Maths"
        .main-container
            block content