//- Copyright (C) 2019 Ryan Bester
extends layout

block content
    .container.mt-4
        h1 Change Password
        if error
            .alert.alert-danger(role="alert")= error
        form(action="" method="post")
            .form-group.row
                label.col-sm-2.col-form-label(for="currentPassword") Current Password
                .col-sm-10
                    input#currentPassword.form-control(type="password" name="currentPassword" placeholder="Current Password")
            .form-group.row
                label.col-sm-2.col-form-label(for="newPassword") New Password
                .col-sm-10
                    input#newPassword.form-control(type="password" name="newPassword" placeholder="New Password")
            .form-group.row
                label.col-sm-2.col-form-label(for="confirmPassword") Confirm Password
                .col-sm-10
                    input#confirmPassword.form-control(type="password" name="confirmPassword" placeholder="Confirm Password")
            .form-group.row
                .col-sm-10
                    button.btn.btn-primary(type="submit") Save
                    a.btn.btn-secondary.ml-2(role="button" href="/dashboard/profile/") Cancel
